/* -----------------------
	Variables
   ------------------------ */
/* -----------------------
	Mixins
   ------------------------ */
/* -----------------------
	General Styles
   ------------------------ */
body {
  background: #FFF;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
input,
textarea {
  outline: none;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid transparent;
  border-radius: 5px;
  padding: 20px;
  resize: none;
}
/* -----------------------
	Typography
   ------------------------ */
body,
a {
  font-family: 'Open Sans', sans-serif;
  color: #f3f3f3;
  line-height: 24px;
  font-size: 20px;
}
@media only screen and (max-width: 500px) {
  body,
  a {
    font-size: 17px;
    line-height: 20px;
  }
}
h2,
.continue-reading-link {
  color: #383838;
}
h3,
h4 {
  color: #666666;
}
.content1-block-story-section,
.contact-info-container {
  color: #999797;
}
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 60px;
  line-height: 60px;
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
h2 {
  font-size: 36px;
  line-height: 36px;
}
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
h3 {
  font-size: 30px;
  line-height: 30px;
}
@media only screen and (max-width: 500px) {
  h3 {
    font-size: 25px;
    line-height: 25px;
  }
}
h4,
.content2-block-text-paragraph,
.header-text-paragraph {
  font-size: 24px;
}
@media only screen and (max-width: 500px) {
  h4,
  .content2-block-text-paragraph,
  .header-text-paragraph {
    font-size: 20px;
    line-height: 20px;
  }
}
.btn {
  font-size: 16px;
  color: #f3f3f3;
}
.header-form-input::-webkit-input-placeholder {
  color: #bebebe;
}
.continue-reading-link {
  font-size: 16px;
}
.copyright-text,
.designer-info {
  font-size: 14px;
}
.header-main-text-container p {
  line-height: 27px;
}
.content2-block-container p {
  line-height: 29px;
}
.contact-info-container p {
  line-height: 20px;
}
/* -----------------------
	Global Styles
   ------------------------ */
label.error {
  position: absolute;
  left: 50%;
  bottom: -30px;
  color: #f7564b;
  font-size: 10px;
  font-style: italic;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header-form-field-row,
.contact-form-field-row,
.contact-form-textarea-container {
  position: relative;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.block-container {
  width: 87.48%;
  max-width: 1180px;
  margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
  .block-container {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .block-container {
    width: 99%;
  }
}
.btn {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  line-height: 0;
  background: #f7564b;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.btn:hover {
  box-shadow: 0 0 15px #f7564b;
}
.btn:active {
  opacity: 0.75;
}
/* -----------------------
	Layout
   ------------------------ */
.header-wrapper {
  background: url(../../images/header-image.jpg) no-repeat;
  background-size: 100% 100%;
}
.header-container {
  padding: 130px 0 148px;
}
@media only screen and (max-width: 1000px) {
  .header-container {
    padding: 70px 0;
  }
}
@media only screen and (max-width: 500px) {
  .header-container {
    padding: 30px 0;
  }
}
.logo-and-nav-container {
  margin-bottom: 196px;
}
@media only screen and (max-width: 1000px) {
  .logo-and-nav-container {
    margin-bottom: 140px;
  }
}
@media only screen and (max-width: 500px) {
  .logo-and-nav-container {
    margin-bottom: 80px;
  }
}
.logo {
  text-indent: -9999px;
  background: url(../../images/logo.png) no-repeat;
  width: 178px;
  height: 22px;
  float: left;
  cursor: pointer;
}
.nav {
  float: right;
}
@media only screen and (max-width: 1000px) {
  .nav {
    display: none;
    clear: both;
    width: 178px;
  }
}
.nav-list li {
  float: left;
  margin-right: 22px;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
@media only screen and (max-width: 1000px) {
  .nav-list li {
    margin-right: 0;
    float: none;
    border: 1px solid #f3f3f3;
    border-bottom: none;
  }
}
.nav-list li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1000px) {
  .nav-list li:last-child {
    border: 1px solid #f3f3f3;
  }
}
.nav-list li:hover {
  opacity: 0.5;
}
.nav-list li:active {
  opacity: 1;
}
.nav-toggle-button {
  display: none;
  background: url(../../images/menu.png) center center no-repeat;
  background-size: cover;
  width: 60px;
  height: 12px;
  float: right;
}
@media only screen and (max-width: 1000px) {
  .nav-toggle-button {
    display: block;
  }
}
.header-main-text-container {
  width: 100%;
  max-width: 800px;
}
.header-main-text-container h1 {
  margin-bottom: 35px;
  text-transform: uppercase;
}
.header-main-text-container p {
  width: 100%;
  max-width: 545px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 1000px) {
  .header-main-text-container p {
    margin: 0 auto 32px;
  }
}
.header-form-field-row {
  margin-right: 20px;
  display: inline-block;
}
@media only screen and (max-width: 620px) {
  .header-form-field-row {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 548px) {
  .header-form-field-row {
    margin: 0 auto 30px;
  }
}
.header-form-button-container {
  display: inline-block;
}
.header-form-input {
  width: 100%;
  max-width: 280px;
  height: 50px;
  border-bottom: 2px solid #bebebe;
  line-height: 10px;
}
@-moz-document url-prefix() {
  .header-form-input {
    padding: 15px 20px;
  }
}
.header-form-button {
  border-bottom: 2px solid #d0493f;
  text-align: left;
}
.content1-block-container {
  padding: 105px 0 120px;
}
@media only screen and (max-width: 1365px) {
  .content1-block-container {
    padding: 70px 0;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  .content1-block-container {
    padding: 30px 0;
  }
}
.content1-block-container h2::after {
  display: block;
  content: "";
  width: 68px;
  height: 1px;
  margin: 56px 0 60px;
  border-top: 1px solid #9a9a9a;
  background: #9a9a9a;
}
@media only screen and (max-width: 1365px) {
  .content1-block-container h2::after {
    margin: 56px auto 60px;
  }
}
@media only screen and (max-width: 500px) {
  .content1-block-container h2::after {
    margin: 30px auto 50px;
  }
}
.content1-block-story-section {
  width: 380px;
  float: left;
  margin-right: 20px;
}
.content1-block-story-section::before {
  content: "";
  display: block;
  width: 380px;
  height: 400px;
  background: url(../../images/section2-pic.jpg) no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 500px) {
  .content1-block-story-section::before {
    width: 285px;
    height: 300px;
  }
}
.content1-block-story-section:nth-child(2)::before {
  background: url(../../images/section1-pic.jpg) no-repeat;
  background-size: cover;
}
.content1-block-story-section:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1365px) {
  .content1-block-story-section:last-child {
    margin-right: auto;
    margin-bottom: 0;
  }
}
.content1-block-story-section:last-child::before {
  background: url(../../images/section3-pic.jpg) no-repeat;
  background-size: cover;
}
.content1-block-story-section p {
  max-width: 340px;
  height: 68px;
  margin: 28px 0;
}
@media only screen and (max-width: 1365px) {
  .content1-block-story-section p {
    margin: 28px auto;
  }
}
@media only screen and (max-width: 500px) {
  .content1-block-story-section p {
    margin: 28px auto 7px;
  }
}
@media only screen and (max-width: 1365px) {
  .content1-block-story-section {
    float: none;
    margin: 0 auto 50px;
  }
}
@media only screen and (max-width: 500px) {
  .content1-block-story-section {
    width: 285px;
    margin: 0 auto 30px;
  }
}
.content2-block-wrapper {
  background: url(../../images/content2-image.jpg) no-repeat;
  background-size: 100% 100%;
}
.content2-block-container {
  padding: 134px 0 40px;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .content2-block-container {
    padding: 70px 0 40px;
  }
}
@media only screen and (max-width: 500px) {
  .content2-block-container {
    padding: 30px 0;
  }
}
.content2-block-container .content2-block-text-paragraph:nth-child(2) {
  margin: 35px 0 82px;
}
@media only screen and (max-width: 500px) {
  .content2-block-container .content2-block-text-paragraph:nth-child(2) {
    margin: 35px 0;
  }
}
.content2-block-carousel:hover {
  cursor: default;
}
.content2-block-carousel input[type=radio] {
  display: none;
}
.content2-block-carousel label {
  display: inline-block;
  background: #aaa5a0;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  box-shadow: inset 0 1px 1px 0 #999;
}
.content2-block-carousel label:last-child {
  margin-right: 0;
}
.content2-block-carousel label:hover {
  cursor: pointer;
}
.content2-block-carousel input:checked + label {
  background: #f5f5f5;
}
.contact-block-container {
  padding: 80px 0;
}
@media only screen and (max-width: 1000px) {
  .contact-block-container {
    padding: 70px 0;
  }
}
@media only screen and (max-width: 500px) {
  .contact-block-container {
    padding: 30px 0;
  }
}
.contact-block-container h3 {
  text-align: center;
  margin-bottom: 80px;
}
@media only screen and (max-width: 500px) {
  .contact-block-container h3 {
    margin-bottom: 30px;
  }
}
.contact-block-container h4 {
  margin-bottom: 30px;
}
@media only screen and (max-width: 500px) {
  .contact-block-container h4 {
    margin-bottom: 15px;
  }
}
.contact-form-container {
  width: 100%;
  max-width: 380px;
  float: left;
}
@media only screen and (max-width: 850px) {
  .contact-form-container {
    float: none;
    margin: 0 auto;
  }
}
.contact-info-container {
  width: 100%;
  max-width: 320px;
  float: right;
  text-align: right;
}
@media only screen and (max-width: 850px) {
  .contact-info-container {
    float: none;
    text-align: center;
    margin: 40px auto 0;
  }
}
.contact-info-container p {
  margin-bottom: 35px;
  text-transform: uppercase;
}
.contact-info-container p:last-child {
  margin-bottom: 0;
}
.contact-form-field-row {
  float: left;
  margin-right: 20px;
  display: inline-block;
}
.contact-form-field-row:nth-child(2) {
  margin-right: 0;
}
@media only screen and (max-width: 451px) {
  .contact-form-field-row:nth-child(2) {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 451px) {
  .contact-form-field-row {
    float: none;
    width: 100%;
  }
}
.contact-form-input {
  width: 180px;
}
@media only screen and (max-width: 451px) {
  .contact-form-input {
    width: 100%;
  }
}
.contact-form-textarea-container {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  height: 130px;
}
.contact-form-textarea {
  width: 100%;
  max-width: 380px;
  height: 130px;
  -ms-overflow-style: none;
}
.contact-form-button-container {
  display: inline-block;
}
.contact-form-button {
  width: 180px;
  margin-top: 20px;
}
.contact-form-input,
.contact-form-textarea {
  background: #ededed;
}
.footer-wrapper {
  background: #333;
}
.footer-container {
  padding: 30px 0;
}
.copyright-text {
  float: left;
  line-height: 100%;
}
@media only screen and (max-width: 620px) {
  .copyright-text {
    float: none;
    margin-bottom: 20px;
  }
}
.designer-info {
  float: right;
  line-height: 100%;
}
@media only screen and (max-width: 620px) {
  .designer-info {
    float: none;
  }
}
.heart-icon {
  background: url(../../images/heart-icon.png) no-repeat;
  display: inline-block;
  width: 18px;
  height: 15px;
  text-indent: -9999px;
}
