/* -----------------------
	Fonts
   ------------------------ */
@font-face {
  font-family: 'Helvetica Neue LT Std 45 Light';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/HelveticaNeueLTStd Lt.woff') format('woff');
}
/* -----------------------
	Variables
   ------------------------ */
/* -----------------------
	Mixins
   ------------------------ */
/* -----------------------
	General Styles
   ------------------------ */
body {
  background: #f9f9f9;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
/* -----------------------
	Global styles
   ------------------------ */
.block-container {
  width: 100%;
  max-width: 976px;
  margin: 0 auto;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.btn,
.previous-button,
.next-button {
  transition: all 0.2s linear;
}
.btn {
  display: flex;
  align-items: center;
  width: 107px;
  height: 35px;
  border: 1px solid #b8b8b8;
  border-radius: 7px;
  background: url(../../images/arrow.png) 88px 10px no-repeat;
  padding: 0 11px;
  box-sizing: border-box;
  margin-top: 19px;
}
.btn:hover {
  -webkit-box-shadow: 0 0 15px #a4a4a4;
  -moz-box-shadow: 0 0 15px #a4a4a4;
  box-shadow: 0 0 15px #a4a4a4;
}
.btn:active {
  opacity: 0.75;
}
.right-arrow-icon,
.left-arrow-icon {
  display: none;
  position: absolute;
  width: 10px;
  height: 15px;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background: url(../../images/arrow.png) no-repeat;
}
@media only screen and (max-width: 777px) {
  .right-arrow-icon,
  .left-arrow-icon {
    display: inline;
  }
}
@-moz-document url-prefix() {
  .right-arrow-icon,
  .left-arrow-icon {
    top: 52%;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .right-arrow-icon,
  .left-arrow-icon {
    top: 17px;
  }
}
.left-arrow-icon {
  top: 46%;
  left: 10px;
  transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .left-arrow-icon {
    top: 15px;
  }
}
.small-arrow-icon {
  display: inline-block;
  width: 3px;
  height: 5px;
  background: url(../../images/small_arrow.png) no-repeat;
  position: absolute;
  margin-left: 3px;
  top: 14px;
}
@media only screen and (max-width: 1000px) {
  .small-arrow-icon {
    top: 10px;
  }
}
@media only screen and (max-width: 777px) {
  .small-arrow-icon {
    display: none;
  }
}
.printer-icon {
  display: inline-block;
  width: 23px;
  height: 27px;
  background: url(../../images/print_icon.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 20px;
  left: 25px;
}
@media only screen and (max-width: 1000px) {
  .printer-icon {
    top: 15px;
    width: 18px;
    height: 20px;
  }
}
.apple-icon {
  display: inline-block;
  width: 16px;
  height: 19px;
  background: url(../../images/apple_icon.png) center center no-repeat;
  margin-top: -3px;
  margin-right: 10px;
}
.android-icon {
  display: inline-block;
  width: 18px;
  height: 21px;
  background: url(../../images/android_icon.png) no-repeat;
  margin-right: 7px;
}
/* -----------------------
	Typography
   ------------------------ */
body {
  font-family: 'Helvetica Neue LT Std 45 Light', sans-serif;
  color: #828282;
}
.nav-and-user-account-section-container,
.nav-and-user-account-section-container a {
  color: #7c7c7c;
}
h1,
.nav-list li.active a {
  color: #ff801a;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 35px;
  color: #c2c2c2;
}
@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 14px;
  }
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
  color: #b3c304;
}
@media only screen and (max-width: 1000px) {
  h4 {
    font-size: 16px;
  }
}
.btn {
  font-size: 16px;
  color: #a4a4a4;
}
.training-calendar-table {
  font-size: 13px;
}
@media only screen and (max-width: 1000px) {
  .training-calendar-table {
    font-size: 11px;
  }
}
.nav-list li {
  font-size: 14px;
}
.user-account-section,
.alternative-box p {
  font-size: 15px;
}
.training-week-progress-viewer-heading,
.training-protein-options-heading,
.week-numbers-list {
  font-size: 9px;
  color: #b8b8b8;
}
.workout-main-cell,
.high-low-carb-row {
  font-size: 11px;
}
.workout-main-cell .print-cell,
.high-low-carb-row .print-cell {
  font-size: 18px;
}
@media only screen and (max-width: 1000px) {
  .workout-main-cell .print-cell,
  .high-low-carb-row .print-cell {
    font-size: 14px;
  }
}
/* -----------------------
	Layout
   ------------------------ */
.header-wrapper {
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
}
.nav-and-user-account-section-container {
  width: 100%;
  max-width: 858px;
  border-left: 1px solid #efefef;
  float: right;
}
@media only screen and (max-width: 600px) {
  .nav-and-user-account-section-container {
    text-align: center;
  }
}
.nav {
  float: left;
  margin: 39px 0 22px;
  padding: 0 32px;
}
@media only screen and (max-width: 600px) {
  .nav {
    display: inline-block;
    float: none;
    margin: 39px 50px 0;
  }
}
@media only screen and (max-width: 490px) {
  .nav {
    margin: 39px 0 0;
  }
}
@media only screen and (max-width: 400px) {
  .nav {
    display: block;
  }
}
.nav-list li {
  float: left;
  margin-right: 40px;
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  .nav-list li {
    float: none;
    margin: 0 auto 10px;
  }
}
.nav-list li.active::after {
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background: #ffc79a;
  margin: 8px auto 0;
}
.nav-list li:last-child {
  margin-right: 0;
}
.user-account-section-container {
  float: right;
  margin: 27px 0 0;
}
@media only screen and (max-width: 1030px) {
  .user-account-section-container {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .user-account-section-container {
    display: inline-block;
    float: none;
    margin: 27px 0;
  }
}
.user-account-section {
  line-height: 35px;
}
.user-account-section::before {
  display: block;
  content: "";
  width: 35px;
  height: 35px;
  background: url(../../images/prof_pic.png) no-repeat;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.user-account-section::after {
  display: block;
  content: "";
  width: 8px;
  height: 4px;
  background: url(../../images/chevron_up.png) no-repeat;
  float: right;
  margin-top: 17px;
  margin-left: 17px;
  cursor: pointer;
}
.training-week-switching-bar {
  text-align: center;
  margin-top: 32px;
}
.training-week-switching-bar .training-week-progress-viewer-container {
  text-align: left;
  width: 100%;
  max-width: 236px;
  float: left;
}
@media only screen and (max-width: 945px) {
  .training-week-switching-bar .training-week-progress-viewer-container {
    float: none;
    margin: 0 auto;
  }
}
.training-week-switching-bar .training-week-progress-viewer-container .week-dots-list li,
.training-week-switching-bar .training-week-progress-viewer-container .week-numbers-list li {
  float: left;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-dots-list li {
  width: 20px;
  height: 10px;
  margin: 13px 0 5px;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-dots-list li:first-child {
  width: 10px;
  height: 10px;
  background: url('../../images/passed_week_icon(1).png') center center no-repeat;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-dots-list li:first-child.passed-week-dot {
  background: url('../../images/passed_week_icon(1).png') center center no-repeat;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-dots-list li:first-child.present-week-dot {
  background: url('../../images/present_week_icon.png') center center no-repeat;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-dots-list li:first-child.week-to-pass-dot {
  background: url('../../images/undone_week_icon.png') center center no-repeat;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-dots-list li.passed-week-dot {
  background: url('../../images/passed_week_icon(2).png') center center no-repeat;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-dots-list li.present-week-dot {
  background: url('../../images/present_week_icon(2).png') center center no-repeat;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-dots-list li.week-to-pass-dot {
  background: url('../../images/unpassed_week_icon(1).png') center center no-repeat;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-numbers-list {
  clear: both;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-numbers-list li {
  display: inline-block;
  width: 10px;
  margin-right: 10px;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-numbers-list li:first-child {
  margin-left: 3px;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-numbers-list li:nth-child(9) {
  margin-right: 7px;
}
.training-week-switching-bar .training-week-progress-viewer-container .week-numbers-list li:last-child {
  margin-right: 0;
}
.training-week-switching-bar .training-week-slider-container {
  width: 100%;
  max-width: 299px;
  display: inline-block;
  margin-left: -31px;
  margin-top: 2px;
}
@media only screen and (max-width: 945px) {
  .training-week-switching-bar .training-week-slider-container {
    margin: 30px auto;
  }
}
.training-week-switching-bar .training-week-slider-container h1 {
  display: inline-block;
  margin-top: -3px;
  margin-bottom: -5px;
}
.training-week-switching-bar .training-week-slider-container .previous-button,
.training-week-switching-bar .training-week-slider-container .next-button {
  width: 26px;
  height: 44px;
}
.training-week-switching-bar .training-week-slider-container .previous-button:hover,
.training-week-switching-bar .training-week-slider-container .next-button:hover {
  opacity: 0.55;
}
.training-week-switching-bar .training-week-slider-container .previous-button:active,
.training-week-switching-bar .training-week-slider-container .next-button:active {
  opacity: 1;
}
.training-week-switching-bar .training-week-slider-container .previous-button {
  float: left;
  background: url(../../images/previous_button.png) center center no-repeat;
}
.training-week-switching-bar .training-week-slider-container .next-button {
  float: right;
  background: url(../../images/next_button.png) center center no-repeat;
}
.training-week-switching-bar .training-protein-options-container {
  text-align: left;
  width: 100%;
  max-width: 203px;
  float: right;
  margin-top: 2px;
}
@media only screen and (max-width: 945px) {
  .training-week-switching-bar .training-protein-options-container {
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
}
.training-week-switching-bar .training-protein-options-container .training-protein-options-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.training-week-switching-bar .training-protein-options-container .training-protein-options-list li {
  float: left;
  margin-right: 14px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.training-week-switching-bar .training-protein-options-container .training-protein-options-list li:nth-child(1) {
  width: 25px;
  height: 25px;
  background: url(../../images/broccoli_icon.png) center center no-repeat;
}
.training-week-switching-bar .training-protein-options-container .training-protein-options-list li:nth-child(2) {
  width: 28px;
  height: 21px;
  background: url(../../images/cheese_icon.png) center center no-repeat;
  margin-right: 16px;
}
.training-week-switching-bar .training-protein-options-container .training-protein-options-list li:nth-child(3) {
  width: 35px;
  height: 23px;
  margin-right: 19px;
  background: url(../../images/bacon_icon.png) center center no-repeat;
}
.training-week-switching-bar .training-protein-options-container .training-protein-options-list li:nth-child(4) {
  width: 32px;
  height: 29px;
  background: url(../../images/fish_icon.png) center center no-repeat;
}
.training-week-switching-bar .training-protein-options-container .training-protein-options-list li:last-child {
  margin-right: 0;
  width: 36px;
  height: 29px;
  background: url(../../images/chicken_icon.png) center center no-repeat;
}
.training-week-switching-bar .training-protein-options-container .training-protein-options-list li:hover {
  opacity: 0.75;
}
.training-week-switching-bar .training-protein-options-container .training-protein-options-list li:active {
  opacity: 1;
}
.main-block-wrapper {
  border-top: 1px solid #f1f1f1;
}
.training-calendar-table {
  clear: both;
  margin-top: 32px;
  display: table;
}
.training-calendar-table tr {
  height: 92px;
}
@media only screen and (max-width: 1000px) {
  .training-calendar-table tr {
    height: 60px;
  }
}
.training-calendar-table tr.day-row {
  height: 50px;
}
@media only screen and (max-width: 1000px) {
  .training-calendar-table tr.day-row {
    height: 35px;
  }
}
.training-calendar-table tr.food-row:nth-child(6) .time-cell,
.training-calendar-table tr.food-row:nth-child(6) .food-cell {
  border-bottom: none;
}
.training-calendar-table tr.high-low-carb-row {
  height: 35px;
}
@media only screen and (max-width: 1000px) {
  .training-calendar-table tr.high-low-carb-row {
    height: 25px;
  }
}
.training-calendar-table tr.high-low-carb-row .time-cell,
.training-calendar-table tr.high-low-carb-row .high-low-carb-cell {
  border-top: none;
  border-bottom: 2px solid #a5b404;
}
.training-calendar-table tr.high-low-carb-row .time-cell,
.training-calendar-table tr.workout-row .time-cell,
.training-calendar-table tr.high-low-carb-row .high-low-carb-cell,
.training-calendar-table tr.workout-row .high-low-carb-cell,
.training-calendar-table tr.high-low-carb-row .print-cell,
.training-calendar-table tr.workout-row .print-cell,
.training-calendar-table tr.high-low-carb-row .workout-main-cell,
.training-calendar-table tr.workout-row .workout-main-cell,
.training-calendar-table tr.high-low-carb-row .workout-cell,
.training-calendar-table tr.workout-row .workout-cell {
  background: #b3c304;
  border-right: 2px solid #a5b404;
  vertical-align: middle;
  text-align: center;
  padding: 0;
}
.training-calendar-table tr.high-low-carb-row .print-cell,
.training-calendar-table tr.workout-row .print-cell {
  border-top: none;
  border-bottom: none;
  border-right: 2px solid #f9f9f9;
}
.training-calendar-table tr.workout-row {
  height: 33px;
}
@media only screen and (max-width: 1000px) {
  .training-calendar-table tr.workout-row {
    height: 25px;
  }
}
.training-calendar-table tr.workout-row .workout-main-cell,
.training-calendar-table tr.workout-row .workout-cell {
  border-bottom: none;
}
.training-calendar-table tr:first-child .time-cell {
  background: #b3c304;
  border-bottom: none;
}
.training-calendar-table .day-cell {
  cursor: pointer;
  position: relative;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  border-right: 2px solid #e9e9e9;
  background-clip: padding-box;
}
.training-calendar-table .day-cell.active::before {
  content: '';
  display: block;
  position: absolute;
  background: #ff801a;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 777px) {
  .training-calendar-table .day-cell.active::before {
    display: none;
  }
}
@-moz-document url-prefix() {
  .training-calendar-table .day-cell.active::after {
    width: 2px;
    right: -2px;
  }
}
.training-calendar-table .day-cell.active h4 {
  color: #ff801a;
}
.training-calendar-table .food-cell,
.training-calendar-table .high-low-carb-cell,
.training-calendar-table .workout-cell,
.training-calendar-table .print-cell,
.training-calendar-table .free-day-cell {
  display: table-cell;
  border: 2px solid #e9e9e9;
  border-left: none;
  width: 130px;
  background: #fff;
  padding: 8px 19px 8px 13px;
  background-clip: padding-box !important;
}
@media only screen and (max-width: 777px) {
  .training-calendar-table .food-cell,
  .training-calendar-table .high-low-carb-cell,
  .training-calendar-table .workout-cell,
  .training-calendar-table .print-cell,
  .training-calendar-table .free-day-cell {
    width: 50%;
  }
}
.training-calendar-table .day-cell:last-child,
.training-calendar-table .print-cell,
.training-calendar-table .free-day-cell {
  border-right: none;
}
.training-calendar-table .day-cell:last-child.active,
.training-calendar-table .print-cell.active,
.training-calendar-table .free-day-cell.active {
  width: 127px;
}
@media only screen and (max-width: 1000px) {
  .training-calendar-table .day-cell:last-child.active,
  .training-calendar-table .print-cell.active,
  .training-calendar-table .free-day-cell.active {
    width: 125px;
  }
}
@media only screen and (max-width: 777px) {
  .training-calendar-table .day-cell:last-child.active,
  .training-calendar-table .print-cell.active,
  .training-calendar-table .free-day-cell.active {
    border-right: none !important;
  }
}
.time-cell,
.workout-main-cell {
  display: table-cell;
  background: #b3c304;
  vertical-align: middle;
  text-align: center;
  border: none;
  border-right: 2px solid #b3c304;
  border-bottom: 2px solid #a5b404;
  width: 101px;
  padding: 0 8px;
  box-sizing: border-box;
  background-clip: padding-box !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .time-cell.before-active::before,
  .workout-main-cell.before-active::before {
    content: '';
    display: block;
    position: absolute;
    background: #ff801a;
    width: 2px;
    height: 2px;
    top: -2px;
    right: -2px;
  }
}
@media only screen and (max-width: 777px) {
  .time-cell.before-active::before,
  .workout-main-cell.before-active::before {
    display: none;
  }
}
.food-cell.active,
.high-low-carb-cell.active,
.workout-cell.active,
.print-cell.active,
.free-day-cell.active,
.day-cell.active,
.time-cell.active,
.workout-main-cell.active,
.food-cell.before-active,
.high-low-carb-cell.before-active,
.workout-cell.before-active,
.print-cell.before-active,
.free-day-cell.before-active,
.day-cell.before-active,
.time-cell.before-active,
.workout-main-cell.before-active {
  border-right: 2px solid #ff801a !important;
}
@media only screen and (max-width: 777px) {
  .food-cell.active,
  .high-low-carb-cell.active,
  .workout-cell.active,
  .print-cell.active,
  .free-day-cell.active,
  .day-cell.active,
  .time-cell.active,
  .workout-main-cell.active,
  .food-cell.before-active,
  .high-low-carb-cell.before-active,
  .workout-cell.before-active,
  .print-cell.before-active,
  .free-day-cell.before-active,
  .day-cell.before-active,
  .time-cell.before-active,
  .workout-main-cell.before-active {
    border-right: 2px solid #e9e9e9 !important;
  }
}
@media only screen and (max-width: 777px) {
  .high-low-carb-cell.active,
  .workout-cell.active,
  .workout-main-cell.active,
  .time-cell.active,
  .high-low-carb-cell.before-active,
  .workout-cell.before-active,
  .workout-main-cell.before-active,
  .time-cell.before-active {
    border-right: 2px solid #a5b404 !important;
  }
}
.food-cell {
  position: relative;
  line-height: 18px;
  cursor: pointer;
}
.food-cell .checked-icon {
  display: none;
}
.food-cell .shake-icon {
  position: absolute;
  bottom: 0;
  left: 22px;
  display: block;
  width: 85px;
  height: 57px;
  background: url(../../images/shake_image.png) no-repeat;
}
@media only screen and (max-width: 1000px) {
  .food-cell .shake-icon {
    display: none;
  }
}
.food-cell.active .shake-icon {
  background: url(../../images/shake_image_colored.png) no-repeat;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .food-cell.active::after,
  .food-cell.before-active::after {
    content: '';
    display: block;
    position: absolute;
    background: #ff801a;
    width: 2px;
    height: 2px;
    top: -2px;
    right: -2px;
  }
}
@media only screen and (max-width: 777px) {
  .food-cell.active::after,
  .food-cell.before-active::after {
    display: none;
  }
}
.food-cell.checked .checked-icon {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 5px;
  width: 17px;
  height: 16px;
  background: url(../../images/checked_icon.png) no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 1000px) {
  .food-cell.checked .checked-icon {
    width: 13px;
    height: 12px;
  }
}
.free-day-cell {
  border-bottom: none !important;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
@-moz-document url-prefix() {
  .free-day-cell.active::before {
    content: '';
    display: block;
    position: absolute;
    background: #ff801a;
    width: 2px;
    height: 100%;
    top: 0;
    left: -2px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .free-day-cell.active::before {
    content: '';
    display: block;
    position: absolute;
    background: #ff801a;
    width: 2px;
    height: 140%;
    top: 0;
    left: -2px;
  }
}
@media (max-width: 1000px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .free-day-cell.active::before {
    height: 830%;
  }
}
@media (max-width: 792px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .free-day-cell.active::before {
    height: 700%;
  }
}
@media only screen and (max-width: 777px) {
  .free-day-cell.active::before {
    display: none;
  }
}
.free-day-cell .free-day-container-heading-and-icon-container {
  margin-top: 148px;
}
@media only screen and (max-width: 1000px) {
  .free-day-cell .free-day-container-heading-and-icon-container {
    margin-top: 0;
  }
}
.free-day-cell .free-day-container-heading-and-icon-container .free-day-heading-container {
  position: absolute;
  width: 260px;
  margin-left: -88px;
  margin-top: -27px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
@media only screen and (max-width: 1000px) {
  .free-day-cell .free-day-container-heading-and-icon-container .free-day-heading-container {
    position: static;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-left: 0;
    margin-top: 0;
    width: auto;
  }
}
.free-day-cell .free-day-container-heading-and-icon-container .free-day-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../../images/smile_icon.png) center center no-repeat;
  margin-top: 150px;
}
@media only screen and (max-width: 1000px) {
  .free-day-cell .free-day-container-heading-and-icon-container .free-day-icon {
    display: none;
  }
}
.workout-main-cell,
.high-low-carb-cell {
  position: relative;
}
.workout-cell.active::after,
.print-cell.active::after {
  content: '';
  display: block;
  position: absolute;
  background: #ff801a;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 777px) {
  .workout-cell.active::after,
  .print-cell.active::after {
    display: none;
  }
}
.workout-cell {
  cursor: pointer;
  position: relative;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .workout-cell.active::before,
  .workout-cell.before-active::before {
    content: '';
    display: block;
    position: absolute;
    background: #ff801a;
    top: -2px;
    right: -2px;
    width: 2px;
    height: 2px;
  }
}
@media only screen and (max-width: 777px) {
  .workout-cell.active::before,
  .workout-cell.before-active::before {
    display: none;
  }
}
.workout-cell .workout-icon {
  display: inline-block;
  background: url(../../images/weight_icon.png) center center no-repeat;
  background-size: cover;
  width: 28px;
  height: 14px;
  transition: all 0.1s linear;
}
@media only screen and (max-width: 1000px) {
  .workout-cell .workout-icon {
    width: 22px;
    height: 12px;
  }
}
.workout-cell .workout-icon:hover {
  opacity: 0.75;
}
.workout-cell .workout-icon:active {
  opacity: 1;
}
.workout-cell.checked .workout-icon {
  background: url(../../images/weight_icon_colored.png) center center no-repeat;
  background-size: cover;
}
.workout-cell.checked .workout-icon::after {
  content: "";
  display: block;
  background: url(../../images/check_arrow.png) center center no-repeat;
  background-size: contain;
  width: 10px;
  height: 8px;
  margin-left: 35px;
  margin-top: 3px;
}
@media only screen and (max-width: 1000px) {
  .workout-cell.checked .workout-icon::after {
    width: 8px;
    height: 6px;
    margin-left: 28px;
  }
}
.print-cell {
  line-height: 68px;
  height: 68px;
  position: relative;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .print-cell {
    border-left-color: #a5b404 !important;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .print-cell.active {
    border-left-color: #ff801a !important;
  }
}
@-moz-document url-prefix() {
  .print-cell.active::before {
    content: '';
    display: block;
    position: absolute;
    background: #ff801a;
    top: 0;
    width: 2px;
    height: 100%;
    left: -2px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .print-cell.active::before {
    content: '';
    display: block;
    position: absolute;
    background: #ff801a;
    top: 0;
    width: 2px;
    height: 100%;
    left: -2px;
  }
}
@media only screen and (max-width: 777px) {
  .print-cell.active::before {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .print-cell {
    height: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 777px) {
  .print-cell {
    width: 100% !important;
  }
}
.print-cell .print-text {
  margin-left: 35px;
}
@media only screen and (max-width: 1000px) {
  .print-cell .print-text {
    margin-left: 25px;
  }
}
.alternative-boxes-container {
  margin: 45px 0;
}
.alternative-box {
  display: inline-block;
  box-sizing: border-box;
  width: 31.12%;
  max-width: 305px;
  min-width: 250px;
  padding-top: 8px;
  padding-bottom: 15px;
  border-right: 1px solid #e1e1e1;
}
@media only screen and (max-width: 1000px) {
  .alternative-box {
    min-width: 180px;
  }
}
.alternative-box:first-child {
  float: left;
  padding-right: 60px;
}
.alternative-box:nth-child(2) {
  width: 37.76%;
  max-width: 319px;
  margin-left: 49px;
  padding-right: 80px;
}
@media only screen and (max-width: 1000px) {
  .alternative-box:nth-child(2) {
    float: left;
  }
}
.alternative-box:nth-child(2) .btn {
  width: 97px;
  background: url(../../images/arrow.png) 76px 10px no-repeat;
  float: left;
}
@media only screen and (max-width: 1000px) {
  .alternative-box:nth-child(2) .btn {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 777px) {
  .alternative-box:nth-child(2) .btn {
    margin-right: 10px;
  }
}
.alternative-box:nth-child(2) .btn:last-child {
  width: 127px;
  background: url(../../images/arrow.png) 106px 10px no-repeat;
  float: right;
}
@media only screen and (max-width: 1000px) {
  .alternative-box:nth-child(2) .btn:last-child {
    float: none;
  }
}
.alternative-box:last-child {
  float: right;
  padding-left: 40px;
  padding-right: 19px;
  border-right: none;
}
@media only screen and (max-width: 1000px) {
  .alternative-box:last-child {
    float: none;
  }
}
.alternative-box:last-child .btn {
  width: 127px;
  background: url(../../images/arrow.png) 106px 10px no-repeat;
}
@media only screen and (max-width: 1000px) {
  .alternative-box:first-child,
  .alternative-box:nth-child(2),
  .alternative-box:last-child {
    width: 30%;
  }
}
@media only screen and (max-width: 777px) {
  .alternative-box:first-child,
  .alternative-box:nth-child(2),
  .alternative-box:last-child {
    display: block;
    width: 100%;
    max-width: 100%;
    float: none;
    margin-left: 0;
    padding-left: 0;
    border-right: none;
  }
}
.alternative-box h3 {
  margin-bottom: 20px;
}
.alternative-box p {
  line-height: 18px;
}
